<h1>Edit <%= @article.title %></h1>

<!-- ERROR CHECKER-->
<!-- errors.any? checks for any errors-->
<% if @article.errors.any? %>
       <h3>The following errrors prevented the article from getting created:</h3>
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg%></li>
            <%end%>
        </ul>

<%end%>
<!-- END ERROR CHECKER-->


<!-- ARTICLE FORM-->

<%= form_for @article do |f| %>

<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
</p>


<p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
</p>

<p>
    
    <%= f.submit %>
</p>
<% end %>
<!-- END ARTICLE FORM-->

<%= link_to "Back to Articles", articles_path %>